.topBody{
    height: 375px;
    width: 100%;
    display: flex;
    background-color: #0d122e;

}

.topBody > div{
    display: flex;
    flex-direction: column;
}

.topLeft{
    margin-left: 7vw;
    margin-top: 20vh;
    margin-right: 9vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.topLeft > span{
    font-size: 50px;
    color: white;
}

.topLeft > p{
    color: white ;
    font-size: large;
    padding: 20px;
}

.topLeft > div{
    font-size: 50px;
    color: white ;
    margin-left: 4vw;
}

.topLeft > span > button{
    background-color: #7aa0ff;
    padding: 11px 25px;
    border-radius: 5px;
    color: #0d122e;
    font-size: 0.4em;
}

.topBody > img{
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin: 150px;
}

.middleBody{
    display: flex;
}

.middleBody > h3{
    margin: 50px 25vw 20px 25vw;
    font-size: 36px;
    line-height: 46px;
    font-weight: 300;
}

.bottomPage > h2{
    font-size: 56px;
    line-height: 68px;
    font-weight: 300;
    margin: 10vh 0 5vh 7vw;
}

.bottomPage > p{
    margin: 0 40vw 5vh 17vw;
}
.belowTitle{
    display: flex;
    justify-content: space-between;
}



.belowTitle > div > div{
    margin: 20%;
    margin-top: 5vh;
}