img{
    width: 5%;
    object-fit: cover;
    align-items: left;
    margin:0%;
    
}

.navbar{
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: space-around;
    box-shadow: 1px 5px 5px #e0dcdc;
    background-color: rgb(190, 233, 219);
    margin: left 30px; 
    
}

ul{
    display: flex;

}

li{
    list-style: none;
    padding: 1px 15px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}