/* #Login-div {
    background-image: url(../Image/img.gif);
     background-repeat: no-repeat;
     background-size:cover;
     background-position: center;
     width: calc(100% - 40px);
     height: calc(100vh - 40px);
     margin: 10px;
     margin-top: 70px;
     border-radius: 1%;
   }
   
   #Login-card {
     background-color:white;
      border-radius: 1rem; 
     height: 37rem;
     width: 90%;
     margin-top: 0%;
     margin-left: 2%;
   }
   
   #Forget-Link {
     line-height: 1.6rem;
   }
   
   #submit-button{
    border-radius: 10px;
    background-color: rgb(68, 183, 187);
  
   }
   #error{
     color: red;
     font-size: small;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }

  

   p{
     color: rgb(0, 0, 0);
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

   } */